[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
pandas = "*"
plotly = "*"
seaborn = "*"
openpyxl = "*"
nbformat = "*"
nbconvert = "*"
kaleido = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.8"
